version: "3.9"

services:
  hadoop-namenode:
    build: ./hadoop
    container_name: hadoop-namenode
    hostname: namenode
    environment:
      - CLUSTERNAME=agricluster
    ports:
      - "9870:9870"      # HDFS web UI
      - "9000:9000"      # HDFS namenode RPC
    volumes:
      - hadoopnamenode:/hadoop/dfs/name
      - ./app/data:/opt/data
    networks:
      - agri-net

  hadoop-datanode:
    build: ./hadoop
    container_name: hadoop-datanode
    hostname: datanode
    environment:
      - CLUSTERNAME=agricluster
    dependson:
      - hadoop-namenode
    volumes:
      - hadoopdatanode:/hadoop/dfs/data
    networks:
      - agri-net

  spark:
    build: ./spark
    container_name: spark
    hostname: spark
    depends_on:
      - hadoop-namenode
      - hadoop-datanode
    environment:
      - HADOOPNAMENODE=namenode
    volumes:
      - ./app:/opt/app
    networks:
      - agri-net

  mongodb:
    build: ./mongodb
    container_name: mongodb
    hostname: mongodb
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGOINITDBROOTUSERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGOINITDBROOTPASSWORD}
      - MONGO_INITDB_DATABASE=${MONGODB}
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - agri-net

  app:
    build: ./app
    container_name: app
    hostname: app
    depends_on:
      - hadoop-namenode
      - hadoop-datanode
      - spark
      - mongodb
    volumes:
      - ./app:/opt/app
    working_dir: /opt/app
    networks:
      - agri-net
    command: tail -f /dev/null

networks:
  agri-net:

volumes:
  hadoopnamenode:
  hadoopdatanode:
  mongo_data: